body {
    background-color: #1d223f;
    box-sizing: border-box;
}

* {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: #00e94e;
    font-weight: 500;
    box-sizing: border-box;
}

section {
    
    background-color: #302c66;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 5px 5px 10px rgb(12, 95, 16) ;
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
}

img {
    border-radius: 10px;
}

img:hover {
    border-radius: 0px;
}

navbar {
    background-color: red;
    width: 100%;
}

.navbar {
    background-color: green;
    text-align: center;
    padding: 3px;
    margin: 6px 3px;
}

fancy {
    color:aqua;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p > a {
    color:aqua;
    text-decoration: dotted underline;
}

a:hover {
    color: rgb(11, 197, 21)
}